.header {
  &__wrapper {
    width: 100%;
    min-height: 20%;
    background-color: $color-light-gray;
    @include flexbox(center, center);
    padding: 10px 0;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.3rem;
    color: $color-marine;
    letter-spacing: 3px;
  }
}

.logo {
  margin-right: 15px;
}
