.home {
  height: 100vh;

  &__header {
    @extend %section-header;
  }

  &__content {
    height: 70%;
    @include flexbox(center, center);
  }

  &__form {
    @include flexbox(center, center);

    &-container {
      width: 400px;
      @include flexbox(center, center);
      flex-direction: column;
    }

    &-label {
      margin-bottom: 20px;
      width: 100%;
    }

    &-input {
      width: 100%;
      height: 50px;
      font-size: 18px;
      padding-left: 10px;
      display: block;
      outline: none;
      border-radius: 10px;
      border: 1px solid $color-gray;
    }
  }

  .btn-submit {
    @extend %btn;
    width: 100%;

    &:hover {
      @extend %btn-hover;
    }
  }

  .btn-disabled {
    cursor: not-allowed;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-gray;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-gray;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-gray;
}
