.map {
  margin-top: 180px;

  .map-container {
    margin: 0 auto;
    width: 1100px;
    height: 720px;
    background-color: $color-main;
    border-radius: 10px;
    @include flexbox(center, center);
    overflow: hidden;
    position: relative;

    .map-svg {
      width: 1009.12px;
      height: 665.24px;
      transition: .5s;
      
    }

  }


}

