.map {
  width: 100%;
  height: 80%;
  @include flexbox(center, center);

  .map-container {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: $color-main;
    border-radius: 10px;
    @include flexbox(space-between, center);
    flex-direction: row-reverse;
    overflow: hidden;

    .map-svg {
      flex: 1;
      padding-right: 20px;
      height: 95%;
      transform: scale(1) translateY(0px);
      transition: .5s;

      .land {
        fill: #CCCCCC;
        fill-opacity: 1;
        stroke: $color-main;
        stroke-opacity: 1;
        stroke-width:0.5;
        transition: .3s;

        &:hover {
          fill: $color-hover;
        }
      }

      &.isCloser {
        transform: scale(2) translateY(-100px);
      }
    }

    .map-buttons {
      @include flexbox(center, center);
      flex-direction: column;
    }

    .btn-map {
      z-index: 1;
      padding: 10px;
      margin: 0 0 10px 10px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-color: $color-bg;
      outline: none;
    }

    .country-name {
      background: rgba(255,255,255,0.8);
      font-size: 1.2rem;
      overflow: visible;
      position: fixed;
      top: 200px;
      left: 200px;
      border-radius: 10px;
      z-index: 3;
      display: none;

      &.isHovered {
        padding: 10px;
        display: block;
      }
    }
  }
}
