.map {
  width: 100%;
  height: 80%;
  @include flexbox(center, center);

  .map-container {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: $color-main;
    border-radius: 10px;
    @include flexbox(space-between, center);
    flex-direction: row-reverse;
    overflow: hidden;

    .map-svg-wrapper {
      padding: 0 5%;
      height: 100%;
      @include flexbox(center, center);
    }

    .map-svg {
      height: 100%;
      width: 100%;
      transition: .5s;

      .land {
        fill: $color-gray;
        fill-opacity: 1;
        stroke: $color-main;
        stroke-opacity: 1;
        stroke-width:0.5;
        transition: .3s;

        &:hover {
          fill: $color-hover;
        }
      }
    }

    .map-buttons {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .btn-map {
      z-index: 1;
      padding: 10px;
      margin: 0 0 10px 10px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-color: $color-bg;
      outline: none;
    }

    .country-name {
      background: rgba(255,255,255,0.8);
      font-size: 1.2rem;
      overflow: visible;
      position: fixed;
      top: 200px;
      left: 200px;
      border-radius: 10px;
      z-index: 3;
      display: none;

      &.isHovered {
        padding: 10px;
        display: block;
      }
    }
  }
}
