.results {
  &__header {
    @extend %section-header;
  }

  &__content {
    width: 100%;
    margin: 20px 0;
  }

  &__button--play {
    @extend %btn;
    margin: 10px 0;

    &:hover {
      @extend %btn-hover;
    }
  }

  hr {
    border: 0.5px solid $color-light-gray;
  }
}
