.results-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .results {
    width: 100%;

    .btn-play {
      @extend %btn;
      margin-bottom: 10px;

      &:hover {
        @extend %btn-hover;
      }
    }

    .table-results {
      width: 100%;
    }
  }
}
