.routing {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__nav-container {
    text-align: right;
  }

  &__nav {
    display: flex;
    min-height: 40px;

    &-link {
      padding: 0 20px;
      text-decoration: none;
      color: black;
      line-height: 40px;
      height: 100%;
      display: inline-block;

      &:visited {
        color: black;
      }

      &:active {
        color: black;
      }

      &:hover {
        background: $color-light-gray;
      }

      &.disabled {
        cursor: not-allowed;
        color: $color-gray;
      }

      &.active {
        background-color: $color-mustard;
      }
    }
  }
}
