.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $color-bg;
  z-index: 2;

  .topbar-content {
    @include flexbox(center, center);
    padding: 5px 30px;

    .col-3 {
      flex: 1;

      &:nth-of-type(2),
      &:last-of-type {
        @include flexbox(center, center);
      }
    }

    .hint {
      transition: .5s;
    }
  
    .quiz-question {
      font-size: 1.3rem;
    }
  
    .quiz-row {
      @include flexbox(flex-start, center);

      .btn-start {
        @extend %btn;

        &:hover {
          @extend %btn-hover;
        }
      }
  
      .quiz-hint {
        color: $color-main;
        padding: 10px 30px 10px 0;
        transition: .3s;
  
        &:hover {
          color: $color-hover;
        }
      }
    }
  
    .flag {
      width: 150px;
      height: 80px;
    }
  }

  .the-end {
    text-align: center;

    .the-end-title {
      font-size: 2.3rem;
      text-transform: capitalize;
      letter-spacing: 2px;
    }

    .btn-play {
      @extend %btn;
      margin-bottom: 10px;

      &:hover {
        @extend %btn-hover;
      }
    }
  }
}

// -----------------------
// ----- TOPBAR TABLE ------
// -----------------------

.table-score {
  width: 100%;
  text-align: center;

  .good {
    color: $color-good;
  }

  .bad {
    color: $color-bad;
  }
}