$color-marine: #233e55;
$color-light-gray: #eee;
$color-mustard: #dcce06;
$color-good: #90aa0d;
$color-wrong: #e34141;
$color-gray: #ccc;

$scores: good, wrong;

@mixin flexbox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin score($selector) {
  @each $score in $scores {
    @if $score == good {
      .#{$selector}--#{$score} {
        color: $color-good;
      }
    } @else {
      .#{$selector}--#{$score} {
        color: $color-wrong;
      }
    }
  }
}

%btn {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background-color: $color-mustard;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Black Ops One", cursive;
  outline: none;
  transition: 0.5s;
}

%btn-hover {
  background-color: $color-marine;
  color: $color-light-gray;
  cursor: pointer;
}

%section-header {
  margin: 10px 0;
  font-size: 1rem;
}
