$color-main: #233e55;
$color-bg: #eee;
$color-hover: #dcce06;
$color-good: #90aa0d;
$color-bad: #e34141;

@mixin flexbox($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}