{
  "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest/globals": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended",
      "plugin:flowtype/recommended"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "jest",
      "babel",
      "flowtype"
  ],
  "parser": "babel-eslint",
  "rules": {
      "indent": [
          "error",
          2
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": [
          "error",
          "single",
          { "avoidEscape": true }
      ],
      "semi": [
          "error",
          "never"
      ],
      "comma-dangle": ["error", "always-multiline"],
      "object-shorthand": ["error", "always"],
      "object-curly-spacing": ["error", "always"],
      "array-bracket-spacing": ["error", "never"]
  }
}
